@using Microsoft.AspNet.Identity
@if (Session["UsuarioRol"] != null)
{
    <div class="nav-item">
        <div class="field is-grouped">
            <p class="control">
                <a class="button" id="registerLink" href="@Url.Action("Logout", "Login")">
                    <span class="icon">
                        <i class="fa fa-sign-out"></i>
                    </span>
                    <span>Cerrar Sesión</span>
                </a>
            </p>
        </div>
    </div>
}
else
{
    <div class="nav-item">
        <div class="field is-grouped">
            <p class="control">
                <a class="button" id="registerLink" href="@Url.Action("Index", "Login")>">
                    <span class="icon">
                        <i class="fa fa-user"></i>
                    </span>
                    <span>Ingresa</span>
                </a>
            </p>
        </div>
    </div>
}
