<div class="column is-12">
    <section class="hero is-info is-large">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Error
                </h1>
                <h2 class="subtitle">
                    No tienes los permisos suficientes!
                </h2>
            </div>
        </div>
    </section>
</div>