@model Eva360.ViewModel.Home.IndexViewModel

@{
    ViewBag.Title = "Inicio";
}

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">EVA360</h1>
            <h2 class="subtitle">Bienvenido al sistema de Gestión de Proyectos EVA 360</h2>
        </div>
    </div>
</section>

<div id="usuarios-vue">
    <div class="columns">
        <div class="column">
            <transition-group name="scale" tag="ol">
                <li v-for="(error, e_index) in errores" :key="error" class="notification is-danger">
                    <button class="delete" @@click="ocultarError(e_index)"></button>
                    <span>{{ error }}</span>
                </li>
            </transition-group>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <h2 class="title is-3">Lista de Usuarios</h2>
        </div>
        <div class="column">
            <button class="button is-success is-pulled-right" @@click="nuevo()">Agregar</button>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <table class="table">
                <tr>
                    <th>Nombre</th>
                    <th>Codigo</th>
                    <th>Email</th>
                    <th>F. Nacimiento</th>
                    <th>Sexo</th>
                    <th>Doc. Indentidad</th>
                    <th colspan="2">Acciones</th>
                </tr>
                <tr v-for="(usuario, index) in usuarios" :key="usuario.UsuarioId">
                    <td>{{ usuario.Nombre + " " + usuario.Apellido }}</td>
                    <td>{{ usuario.Codigo }}</td>
                    <td>{{ usuario.Email }}</td>
                    <td>{{ parseFormatNetDate(usuario.FechaNacimiento) }}</td>
                    <td>{{ getGenero(usuario.Sexo) }}</td>
                    <td>
                        <strong>{{ getTipoDocumentoSigla(usuario.TipoDocumentoId) }}</strong><br />
                        <span>{{ usuario.NroDocumento }}</span>
                    </td>
                    <td><button class="button is-warning" @@click="editar(usuario)">Editar</button></td>
                    <td><button class="button is-danger">Eliminar</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script type="text/x-template" id="crud-usuario">
    <div>
        <button id="right-close" class="delete is-danger is-medium is-pulled-right" @@click="$emit('close')"></button>
        <h1 class="title">{{ datos.titulo }}</h1>
        <form id="rightbar-form" class="form">
            <input name="UsuarioId" type="hidden" v-model.number="datos.usuario.UsuarioId">
            <div class="field is-narrow">
                <label class="label">Nombre</label>
                <p class="control is-expanded">
                    <input name="Nombre" class="input" type="text" v-model.trim="datos.usuario.Nombre">
                </p>
            </div>
            <div class="field is-narrow">
                <label class="label">Apellido</label>
                <p class="control is-expanded">
                    <input name="Apellido" class="input" type="text" v-model.trim="datos.usuario.Apellido">
                </p>
            </div>
            <div class="field is-narrow">
                <label class="label">Codigo</label>
                <p class="control is-expanded">
                    <input name="Codigo" class="input" type="text" v-model.trim="datos.usuario.Codigo">
                </p>
            </div>
            <div class="field is-narrow">
                <label class="label">Email</label>
                <p class="control is-expanded">
                    <input name="Email" class="input" type="email" v-model.trim="datos.usuario.Email">
                </p>
            </div>
            <div class="field is-narrow">
                <label class="label">Fecha de Nacimiento</label>
                <p class="control is-expanded">
                    <input name="FechaNacimiento" class="input" type="date" v-model="datos.usuario.FechaNacimiento">
                </p>
            </div>
            <div class="field is-narrow">
                <label class="label">Sexo</label>
                <p class="control is-expanded">
                    <span class="select">
                        <select name="Sexo" v-model="datos.usuario.Sexo">
                            <option value="M">Hombre</option>
                            <option value="F">Mujer</option>
                        </select>
                    </span>
                </p>
            </div>
            <label class="label">Documento de Indentidad</label>
            <div class="field is-grouped">
                <p class="control">
                    <span class="select">
                        <select name="TipoDocumentoId" v-model.number="datos.usuario.TipoDocumentoId">
                            <option v-for="t in datos.tipodocumentos" :value="t.TipoDocumentoId">{{t.Sigla}}</option>
                        </select>
                    </span>
                </p>
                <p class="control is-expanded">
                    <input name="NroDocumento" class="input" type="text" v-model.trim="datos.usuario.NroDocumento">
                </p>
            </div>
            <div class='field'>
                <div class='control'>
                    <a class="button is-primary" @@click="actualizar()">
                        <span class="icon"><i class="fa fa-plus"></i></span>
                        <span class="submit-text">Guardar</span>
                    </a>
                </div>
            </div>
        </form>
    </div>
</script>

@section scripts{
    <script>      
        var eva360 = new Vue({
            el: "#usuarios-vue",
            data: {
                errores: [],
                usuarios: [],
                tipodocumentos: []
            },
            created: function() {
                this.fetchData();
            },
            methods: {
                fetchData: function() {
                    var vm = this;
                    axios.get('/Usuario/ListarUsuario')
                      .then(function (response) {
                          vm.usuarios = response.data.usuarios;
                          vm.tipodocumentos = response.data.tipodocumentos;
                      })
                      .catch(function (error) {
                          console.log(error);
                      });
                },
                nuevo: function() {
                    rightbar.datos = {
                        titulo: "Agregar Usuario",
                        tipodocumentos: eva360.tipodocumentos,
                        usuario: {
                            Nombre: '',
                            Apellido: '',
                            Codigo: '',
                            Email: '',
                            FechaNacimiento: moment().add(-20, 'years').format("YYYY-MM-DD"),
                            TipoDocumentoId: eva360.tipodocumentos[0] ? eva360.tipodocumentos[0].TipoDocumentoId : 0,
                            Sexo: 'M',
                            NroDocumento: ''
                        }
                    };
                    rightbar.mostrar();
                    rightbar.componente_activo = "crud-usuario";
                },
                editar: function(usuario) {
                    var usuario_clone = _.clone(usuario);
                    usuario_clone.FechaNacimiento = this.parseNetDate(usuario.FechaNacimiento);
                    rightbar.datos = {
                        tipodocumentos: eva360.tipodocumentos,
                        titulo: "Editar Usuario",
                        usuario: usuario_clone
                    };
                    rightbar.mostrar();
                    rightbar.componente_activo = "crud-usuario";
                },
                eliminar: function(usuario) {

                },
                getGenero: function(sexo) {
                    return sexo == "F" ? "Mujer" : sexo == "M" ? "Hombre" : "-";
                },
                getTipoDocumentoSigla: function (TipoDocumentoId) {
                    return this.tipodocumentos.find(t => t.TipoDocumentoId == TipoDocumentoId).Sigla;
                },
                ocultarError: function(index) {
                    this.errores.splice(index, 1);
                },
                parseNetDate: function (date) {
                    var timestamp = date.replace(NETDATE_REGEX, "$1");
                    return moment(parseInt(timestamp)).format("YYYY-MM-DD");
                },
                parseFormatNetDate: function (date) {
                    var timestamp = date.replace(NETDATE_REGEX, "$1");
                    return moment(parseInt(timestamp)).format("DD-MM-YYYY");
                }
            }
        });

        window.rightbar = new Vue({
            el: "#rightbar-vue",
            data: {
                datos: {},
                componente_activo: "componente-vacio"
            },
            components: {
                'componente-vacio': {template: '<div></div>'},
                'crud-usuario': {
                    props: ['datos', 'titulo'],
                    template: '#crud-usuario',
                    methods: {
                        actualizar: function () {
                            var vm = this;

                            if (vm.datos.usuario.UsuarioId) { // Editar
                                var $form = $('#rightbar-form');
                                var datos_serializados = $form.serialize();

                                axios({
                                    method: "POST",
                                    url: '/Usuario/ActualizarUsuario', 
                                    data: datos_serializados
                                })
                                .then(function (response) {
                                    eva360.usuarios = response.data.usuarios;
                                    eva360.tipodocumentos = response.data.tipodocumentos;
                                    rightbar.cerrar();
                                })
                                .catch(function (error) {
                                    if (error.response.data.errores) {
                                        eva360.errores.push(...error.response.data.errores);
                                    }
                                    else {
                                        eva360.errores.push(error.message);
                                    }

                                    rightbar.cerrar();
                                })
                            }
                            else { // Crear
                                var $form = $('#rightbar-form');
                                var datos_serializados = $form.serialize();

                                axios({
                                    method: "POST",
                                    url: '/Usuario/ActualizarUsuario', 
                                    data: datos_serializados
                                })
                                .then(function (response) {
                                    vm.usuarios = response.data.usuarios;
                                    vm.tipodocumentos = response.data.tipodocumentos;
                                    rightbar.close();
                                })
                                .catch(function (error) {
                                    eva360.errores.push(...error.response.data.error_list);
                                    rightbar.close();
                                })
                            }
                        } 

                    }
                }
            }
        });

    </script>
}