@model Eva360.ViewModel.Home.IndexViewModel

@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>EVA360</h1>
    <p class="lead">Bienvenido al sistema de Gestión de Proyectos EVA 360</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Lista de Usuarios</h2>
        <table class="table">
            <tr>
                <th>UsuarioId</th>
                <th>Nombre</th>
                <th>Apellido</th>
            </tr>
            @foreach (var usuario in Model.LstUsuario)
            {
                <tr>
                    <td>@usuario.UsuarioId</td>
                    <td>@usuario.Nombre</td>
                    <td>@usuario.Apellido</td>
                    
                </tr>
            }
        </table>
    </div>
</div>