.level-item {
    display: block;
}

.level-item p.heading {
    font-weight: 400;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s
}

.fade-enter, .fade-leave-active {
  opacity: 0
}