#rightbar-vue.active #right-wrapper{
    transform: translateX(-380px);
}

#rightbar-vue.active #right-mask{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    width: calc(100vw);
    height: calc(100vh);
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color .6s;
}

#right-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -380px;
    z-index: 30;
    width: 380px;
    overflow-y: auto;
    padding-top: 24px;
    background-color: white;
    transition: transform .6s ease;
}

#right-wrapper .container {
    max-width: none;
    width: auto;
}

#right-close {
    background-color: red;
}
ol {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
ol li.scale-enter-active, ol li.scale-move, ol li.scale-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
ol li.scale-enter {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
ol li.scale-leave-active {
  opacity: 0;
  position: absolute;
  -webkit-transform: scale(0);
  transform: scale(0);
}