#rightbar-vue.active #right-wrapper{
    transform: translateX(-380px);
}

#rightbar-vue.active #right-mask{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    width: calc(100vw);
    height: calc(100vh);
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color .6s;
}

#right-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -380px;
    z-index: 30;
    width: 380px;
    overflow-y: auto;
    padding-top: 24px;
    background-color: white;
    transition: transform .6s ease;
}

#right-wrapper .container {
    max-width: none;
    width: auto;
}

#right-close {
    background-color: red;
}