@{
    Layout = null;
    ViewBag.Title = "Logearse";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div id="app">
        {{ message }}
        <my-checkbox></my-checkbox>
    </div>
</body>
</html>
@{
    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"].ToString();
}
@Scripts.Render("~/Scripts/app/" + controllerName + "/app.js")